arrayqueues==1.3.1
split_dataset
lightparam>=0.4, <0.5
pyqt5==5.15.4
pyzmq
QDarkStyle==2.7
markdown==3.2.2
click==8.0.4
traitlets==5.7.1
nidaqmx==0.6.5
toml==0.10.2
scopecuisine==0.1.3
pyqtgraph==0.12.4
napari==0.4.19
numba == 0.55.2
lxml_html_clean==0.1.1